.vscode
.DS_Store
cache
__pycache__
# *scratch*.*
sarsa_logs
non_learning_logs
*.gif
*.mp4
logs
output.txt
# *.ipynb
/gym-examples/gym_examples/envs/avg_plot_results
/gym-examples/gym_examples/envs/Metrics
